### Creating the Dataframe

In [4]:
import pandas as pd

books_dict = {
    "Title":["Jane Eyre", "The 7 Habits of Highly Effective People", "The Seven Husbands of Evelyn Hugo"],
    "Rating":[1.0, 5.0, 5.0],
    "Author First Name":["Charlotte", "Stephen", "Taylor Jenkins"],
    "Author Last Name":["Brontë", "Covey", "Reid"],
    "Month Finished":["January", "June", "June"],
    "Year Finished":[2020, 2020, 2020],
    "Year Published":[1847, 1989, 2017],
    "Pages":[480, 381, 400]
}

books = pd.DataFrame(books_dict)
books.head()

,Title,Rating,Author First Name,Author Last Name,Month Finished,Year Finished,Year Published,Pages
0,Jane Eyre,1.0,Charlotte,Brontë,January,2020,1847,480
1,The 7 Habits of Highly Effective People,5.0,Stephen,Covey,June,2020,1989,381
2,The Seven Husbands of Evelyn Hugo,5.0,Taylor Jenkins,Reid,June,2020,2017,400

### Adding New Books

In [5]:
def addBook(title, rating, authorFN, authorLN, monthFin, yearFin, yearPub, pages):
    books.loc[len(books.index)] = [title, rating, authorFN, authorLN, monthFin, yearFin, yearPub, pages]

In [6]:
# June 2020
addBook("Master Your Emotions", 2, "Thibaut", "Meurisse", "June", 2020, 2018, 196)
addBook("The Perks of Being a Wallflower", 5, "Stephen", "Chbosky", "June", 2020, 1999, 224)
addBook("Where the Crawdads Sing", 3, "Delia", "Owens", "June", 2020, 2018, 368)

# July 2020
addBook("This is Your Brain on Birth Control", 4, "Sarah E.", "Hill", "July", 2020, 2019, 320)

# September 2020
addBook("The Martian", 3, "Andy", "Weir", "September", 2020, 2011, 369)

# November 2020
addBook("Ready Player One", 4, "Ernest", "Cline", "November", 2020, 2011, 374)

# December 2020
addBook("Harry Potter and the Sorcerer's Stone", 5, "J. K.", "Rowling", "December", 2020, 1997, 320)

# January 2021
addBook("Harry Potter and the Chamber of Secrets", 4.5, "J. K.", "Rowling", "January", 2021, 1998, 368)
addBook("Harry Potter and the Prizoner of Azkaban", 4, "J. K.", "Rowling", "January", 2021, 1999, 448)

# February 2021
addBook("Harry Potter and the Goblet of Fire", 5, "J. K.", "Rowling", "February", 2021, 2000, 737)
addBook("Harry Potter and the Order of the Phoenix", 5, "J. K.", "Rowling", "February", 2021, 2003, 870)
addBook("Love Lettering", 2, "Kate", "Clayborn", "February", 2021, 1998, 207)
addBook("Harry Potter and the Half Blood Prince", 4, "J. K.", "Rowling", "February", 2021, 2005, 652)
addBook("Demian", 3, "Hermann", "Hesse", "February", 2021, 1919, 390)

# March 2021
addBook("Witchery", 3, "Juliet", "Diaz", "March", 2021, 2019, 237)
addBook("After I do", 5, "Taylor Jenkins", "Reid", "March", 2021, 2014, 338)
addBook("Harry Potter and the Deathly Hallows", 3, "J. K.", "Rowling", "March", 2021, 2007, 759)
addBook("Dracula", 2, "Bram", "Stoker", "March", 2021, 1897, 418)

# April 2021
addBook("The Silent Patient", 5, "Alex", "Michaelides", "Aril", 2021, 2019, 313)
addBook("The Night Circus", 3, "Erin", "Morgenstern", "Aril", 2021, 2011, 392)
addBook("The City of Ember", 4.5, "Jeanne", "DuPrau", "Aril", 2021, 2003, 270)
addBook("The People of Sparks", 4.5, "Jeanne", "DuPrau", "Aril", 2021, 2004, 338)
addBook("Little Fires Everywhere", 5, "Celeste", "Ng", "Aril", 2021, 2017, 352)
addBook("The Catcher in the Rye", 1.5, "J. D.", "Salinger", "Aril", 2021, 1951, 277)
addBook("Blink", 2.5, "Malcom", "Gladwell", "April", 2021, 2005, 320)

# May 2021
addBook("Little House Living", 5, "Merissa", "Alink", "May", 2021, 2015, 320)
addBook("The Prophet of Yonwood", 5, "Jeanne", "DuPrau", "May", 2021, 2006, 292)
addBook("The Umbrella Conspiracy", 3, "S. D.", "Perry", "May", 2021, 1998, 262)
addBook("The Universe: ...", 3, "John", "Brockman", "May", 2021, 2014, 379)
addBook("Seven Brief Lessons on Physics", 2, "Carlo", "Rouelli", "May", 2021, 2016, 87)
addBook("In Five Years", 5, "Rebecca", "Serle", "May", 2021, 2020, 251)

# June 2021
addBook("Inferno", 3, "Dante", "Alighieri", "June", 2021, 1472, 270)

### Data Exploration

In [7]:
read2021 = books["Year Finished"]==2021
read2021.sum()

25